/*.header__hero--button {
  transition: transform 1s;
}
.header__hero--button:hover {
  transform: scale(1.5);
}*/
.main__section-looking--button {
  transition: background-color 0.5s, border 0.5s, color 0.5s, cursor 0.5s,
    transform 1s;
}
.main__section-looking--button:hover {
  background-color: $color-orange;
  border: 3px solid $color-orange;
  color: $color-white;
  cursor: pointer;
  transform: scale(1.2);
}
.section-3reasons__button {
  transition: cursor 0.5s, transform 1s;
}
.section-3reasons__button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.footer__button {
  animation-name: button-footer-move;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  @keyframes button-footer-move {
    from {
      transform: translate(0px, 3px) scale(1);
    }
    to {
      transform: translate(0px, -3px) scale(1.1);
    }
  }
}
.header__hero--button {
  animation-name: button-hero-scale;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  @keyframes button-hero-scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
    }
  }
}
/*.footer__button:hover {
  background-color: $color-dark-grey-blue;
  animation-name: button-footer;
  animation-duration: 2s;
  animation-iteration-count: 1;
  @keyframes button-footer {
    from {
      opacity: 0.5;
      transform: scale(3) rotate(-360deg);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}*/
