<footer class="footer">
  <button class="footer__button">
    <img src="assets/images/ico-arrow.svg" alt="footer--button" />
  </button>
  <nav class="footer__pages-menu">
    <ul>
      <li class="footer__pages-menu--items">articles</li>
      <li class="footer__pages-menu--items">books</li>
      <li class="footer__pages-menu--items">events</li>
      <li class="footer__pages-menu--items">reasons</li>
      <li class="footer__pages-menu--items">tips</li>
    </ul>
  </nav>
  <nav class="footer__social-menu">
    <ul>
      <li class="footer__social-menu--items">twitter</li>
      <li class="footer__social-menu--items">instagram</li>
      <li class="footer__social-menu--items">mastodon.social</li>
    </ul>
  </nav>
  <small class="footer__copy">
    <p class="footer__copy--c">&copy; 2021</p>
    <p class="footer__copy--love">we <i class="fas fa-heart"></i> components</p>
  </small>
</footer>
