<footer class="footer">
  <a href="#inicio" title="Inicio">
    <button class="footer__button">
      <img src="assets/images/ico-arrow.svg" alt="footer-button" />
    </button>
  </a>
  <div class="footer-flex">
    <nav class="footer-flex__pages-menu">
      <ul>
        <li>
          <a
            class="footer-flex__pages-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Articles"
            >articles</a
          >
        </li>
        <li>
          <a
            class="footer-flex__pages-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Books"
            >books</a
          >
        </li>
        <li>
          <a
            class="footer-flex__pages-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Events"
            >events</a
          >
        </li>
        <li>
          <a
            class="footer-flex__pages-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Reasons"
            >reasons</a
          >
        </li>
        <li>
          <a
            class="footer-flex__pages-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Tips"
            >tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer-flex__social-menu">
      <ul>
        <li>
          <a
            class="footer-flex__social-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Twitter"
            >twitter</a
          >
        </li>
        <li>
          <a
            class="footer-flex__social-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Instagram"
            >instagram</a
          >
        </li>
        <li>
          <a
            class="footer-flex__social-menu--items"
            target="_blank"
            href="http://adalab.es"
            title="Mastodon.social"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer-flex__copy">
      <p class="footer-flex__copy--c"><small>&copy; 2021</small></p>
      <p class="footer-flex__copy--love">
        we <i class="fas fa-heart"></i> components
      </p>
    </div>
  </div>
</footer>
