<header class="header">
  <a target="_blank" href="http://adalab.es" title="Menu">
    <button class="header__menu">
      <img
        class="header__menu--icon"
        src="assets/images/ico-menu.svg"
        alt="menu"
        title="menu"
      />
    </button>
  </a>
  <div id="inicio" class="header__hero">
    <h1 class="header__hero--title">anonymous proxy</h1>
    <h2 class="header__hero--subtitle">In hac habitasse platea dictumst.</h2>
    <a href="#3reasons" title="3 Reasons to purchase">
      <button class="header__hero--button">
        <img src="assets/images/ico-scroll-down.svg" alt="hero-button" />
      </button>
    </a>
  </div>
</header>
