.footer {
  background-color: $color-dark-grey-blue;
  color: white;
  text-align: center;
  padding-bottom: 45px;
  &__button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: $color-white;

    position: relative;
    top: -22.5px;
    img {
      padding: 10.5px 12px;
    }
  }
  .footer-flex {
    margin-top: 15px;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      margin: 0 40px;
    }
    @include desktop {
      margin: 0 370px 0 370px;
    }
    &__pages-menu {
      text-transform: uppercase;
      line-height: 1.875rem;
      font-weight: normal;
      padding-bottom: 30px;
      @include tablet {
        width: 210px;
        padding-bottom: 0px;
        order: 2;
      }
      @include tablet {
        width: 160px;
      }
    }
    &__social-menu {
      text-transform: uppercase;
      line-height: 1.875rem;
      font-weight: normal;
      padding-bottom: 30px;
      @include tablet {
        order: 3;
        width: 210px;
        padding-bottom: 0px;
      }
      @include tablet {
        width: 160px;
      }
    }
    &__copy {
      font-size: 0.875rem;
      line-height: 1.875rem;
      font-weight: normal;
      @include tablet {
        order: 1;
        width: 210px;
      }
      @include tablet {
        width: 160px;
      }
      .fas {
        color: $color-orange;
      }
    }
    a {
      color: white;
    }
  }
}
