.header {
  &__menu {
    background-color: $color-cerulean;
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    &--icon {
      display: block;
      margin: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
